<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Home</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link rel="stylesheet" href="/abc/assets/css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/abc/assets/fonts/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/abc/assets/css/magnific-popup.css">

<link rel="stylesheet" href="/abc/assets/fonts/fontawesome/css/font-awesome.min.css">


<link rel="stylesheet" href="/abc/assets/css/slick.css">

<link rel="stylesheet" href="/abc//assets/css/helpers.css">
<link rel="stylesheet" href="/abc/assets/css/style.css">
<link rel="stylesheet" href="/abc/assets/css/restaurant.css">
</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">


<div class="probootstrap-loader"></div>
<!-- END loader -->

<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
  <div class="container">
	<a class="navbar-brand d-xl-none d-lg-none d-md-block d-sm-block" href="/">
	  <img src="/abc/assets/images/restaurant/logo.png" alt="Instant Logo" class="light">
	  <img src="/abc/assets/images/restaurant/logo-dark.png" alt="Instant Logo" class="dark">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
	  <span><i class="ion-navicon"></i></span>
	</button>
	<div class="collapse navbar-collapse justify-content-md-center" id="probootstrap-navbar">
	  <ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="{{site.baseurl}}/">主页</a></li>
		<li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="{{site.baseurl}}/">今日分享</a></li>
		<li class="nav-item logo-center d-xl-block d-lg-block d-md-none d-sm-none d-none">
		  <a class="nav-link text-uppercase pb_letter-spacing-2" href="index.html">
			<img src="/abc/assets/images/restaurant/logo.png" alt="Instant Logo" class="light">
			<img src="/abc/assets/images/restaurant/logo-dark.png" alt="Instant Logo" class="dark">
		  </a>
		</li>
		<li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="{{site.baseurl}}/">打卡记录</a></li>
		<li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="{{site.baseurl}}/">留言一下</a></li>
	  </ul>
	</div>
  </div>
</nav>
<!-- END nav -->

<section class="pb_cover_v1 cover-bg-black cover-bg-opacity-4 text-center" style="background-image: url({{site.baseurl}}/assets/images/restaurant/1900x1200/img_1.jpg)" id="section-home">
  <div class="container">
	<div class="row align-items-center justify-content-center">
	  <div class="col-md-9  order-md-1">
		<a href="#" class="play popup-vimeo"><i class="ion-ios-play"></i></a>
		<h2 class="heading mb-3">WELCOME</h2>
		<div class="sub-heading"><p class="mb-5">这世间，唯有爱与美食不可辜负</p></div>
		<p><a href="index.html" role="button" class="btn smoothscroll pb_outline-light rounded-0 btn-xl pb_font-13 pb_letter-spacing-2 p-3">吃货交流</a></p>
	  </div>  
	</div>
  </div>
</section>
<!-- END section -->


{{content}}




<footer class="pb_footer bg-light" role="contentinfo">
  <div class="container">
	<div class="row text-center">
	  <div class="col">
		<ul class="list-inline">
		  <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
		  <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
		  <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-instagram"></i></a></li>
		  <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-tripadvisor"></i></a></li>
		</ul>
	  </div>
	</div>
	<div class="row">
	  <div class="col text-center">
		<p>&copy; 最终解释权归本人所有</p>
	  </div>
	</div>
  </div>
</footer>

<!-- loader -->
<div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>


<script src="/abc/assets/js/jquery.min.js"></script>

<script src="/abc/assets/js/popper.min.js"></script>
<script src="/abc/assets/js/bootstrap.min.js"></script>
<script src="/abc/assets/js/slick.min.js"></script>
<script src="/abc/assets/js/jquery.mb.YTPlayer.min.js"></script>

<script src="/abc/assets/js/jquery.waypoints.min.js"></script>
<script src="/abc/assets/js/jquery.easing.1.3.js"></script>

<script src="/abc/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/abc/assets/js/magnific-popup-options.js"></script>


<script src="/abc/assets/js/main.js"></script>

</body>
</html>