---
layout: base
---

<section class="pb_section" id="section-about">
  <div class="container">
	<div class="row">
	  <div class="col-lg-8 mb-5">
		<div class="row">
		  <div class="col">
			<p><img src="/abc/assets/images/restaurant/800x975/img_1.jpg" alt="Instant Image" class="img-fluid"></p>
		  </div>
		  <div class="col">
			<p><img src="/abc/assets/images/restaurant/800x975/img_2.jpg" alt="Instant Image" class="img-fluid"></p>
		  </div>
		</div>
	  </div>

	  <div class="col-lg-4 pl-lg-5 pl-lg-0">
		<h2 class="mb-4 text-uppercase pb_letter-spacing-2">{{page.title}}</h2>
		<small class="text-uppercase pb_color-dark-opacity-3 font-weight-bold">{{page.date}}</small>
		{{content}}
	   </div>
	</div>
  </div>
</section>

<div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          {% if page.previous %}
            <a class="btn btn-primary float-left" href="{{site.baseurl}}/{{page.previous.url}}">上一篇： {{page.previous.title}}</a>
          {% endif %}
          {% if page.next %}
            <a class="btn btn-primary float-right" href="{{site.baseurl}}/{{page.next.url}}">下一篇： {{page.next.title}}</a>
          {% endif %}
        </div>
      </div>
 </div>